a {
    padding: 10px;
}

#tb{
    background-color: rgb(226, 92, 59);
    width: 100%;
}


/* div{
    justify-content: space-between;
} */



#nb{
    width: 0%;
}

/* .lb{
    float: right;
} */

